<h1>Contact</h1>

<div class="row">
    <div class="col-md-6">
        Hello
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.4077444579943!2d106.71576131419206!3d-6.075626561305971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a03cc40da52c9%3A0x446fe341a9f0b179!2sPantai%20Pasir%20Putih%20-%20PIK%202!5e0!3m2!1sen!2sid!4v1621761944299!5m2!1sen!2sid" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>